*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(img/back.jpg) no-repeat;   
    background-size: cover !important;
    background-position: center !important;
}

.wrapper1{
    background-color: rgba(160, 21, 21, 0.3);
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    width: 50%;
    background: rgb(16, 201, 201) transparent;
    max-width: 550px;
    padding: 30px;
    border-radius: 10px;
    border: 200px;
    box-shadow: 0 0 10px rgba(36, 153, 13, 0.6);
  }
  
  .wrapper1 .title1 h1{
    color: rgb(61, 180, 61);
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
    font-style: italic;
    background-color: rgba(25, 116, 63, 0.7);;
    
  }
  
  .contact-form{
    display: flex;
  }
  
  .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 8%;
    color: rgb(240, 240, 236);
   
  }
  
  .input-fields,
  .msg{
    width: 100%;
  }
  
  .input-fields .input,
  .msg textarea{
    margin: 10px 0;
    background:transparent;
    border: 0px;
    border-bottom: 6px solid #0120098f;
    padding: 10px;
    color: black;
    width: 100%;
  }
  .msg textarea{
      height: 162px;
    }
    .msg .btn1{
      margin-top: 1rem;
      display: inline-block;
      border:0.2rem solid rgb(92, 72, 72);
      color:rgb(65, 28, 28);
      cursor:pointer;
      background:none;
      font-size:1.7rem;
      padding:1rem 3rem;
      align-items: center;
    
    }
    
    i{
            color:rgb(30, 58, 30);
    }
    